
.vscode
*.code-workspace
pkg/*
build
gopkgs
__pycache__
*.pyc
*.rdb
*.swp

*.yin
*.tree
src/translib/ocbinds/ocbinds.go
*.d
*.o
*.so.2
*.dbus-proxy.h
*.dbus-adaptor.h
hamd
hamctl
libnss_ham.so.2
libham.so
