{% for intf in json_output['openconfig-lacp:interfaces']['interface'] %}
LACP mode {{intf['state']['lacp-mode']}} interval {{intf['state']['interval']}} priority {{intf['state']['system-priority']}} address {{intf['state']['system-id-mac']}}
{% for mem in intf['members']['member'] %}
Members in this channel: {{mem['interface'] }}
LACP Actor port {{mem['state']['port-num']}}  address {{mem['state']['system-id']}} key {{mem['state']['oper-key']}}
LACP Partner port {{mem['state']['partner-port-num']}}  address {{mem['state']['partner-id']}} key {{mem['state']['partner-key']}}
{% endfor %}
{% endfor %}

