{{'-----------------------------------------------------------'}}
{{'Actor System Priority'.ljust(20)}} {{json_output['openconfig-lacp:lacp']['state']['system-priority']}}
{{'-----------------------------------------------------------'}}

