{{'Egress queue watermark per unicast queue:'}}
{{'-------------------------------------------------------------------'}}
{{'%-12s'|format("Port")}}{{'%-5s'|format("UC0")}}{{'%-5s'|format("UC1")}}{{'%-5s'|format("UC2")}}{{'%-5s'|format("UC3")}}{{'%-5s'|format("UC4")}}{{'%-5s'|format("UC5")}}{{'%-5s'|format("UC6")}}{{'%-5s'|format("UC7")}}
{{'-------------------------------------------------------------------'}}
{% if json_output %}
{% set watermark = {}%}
{% set intf_info_list = json_output['interface'] %}
{% for intf_info in intf_info_list %}
  {% set intfName = intf_info['interface-id'] %}
  {% if intfName != "CPU" %}
  {% set output = intf_info['output'] %}
  {% set queues = output['queues'] %}
  {% set queue_info_list = queues['queue'] %}
  {% for queue_info in queue_info_list %}
    {% set q_stats_info = queue_info['state'] %}
    {% set queue = q_stats_info['name'] %}
    {% if watermark.update({queue :  q_stats_info['openconfig-qos-ext:watermark']}) %} {% endif %}
  {% endfor %}
{{'%-12s'|format(intfName)}}{{'%-5s'|format(watermark['0'])}}{{'%-5s'|format(watermark['1'])}}{{'%-5s'|format(watermark['2'])}}{{'%-5s'|format(watermark['3'])}}{{'%-5s'|format(watermark['4'])}}{{'%-5s'|format(watermark['5'])}}{{'%-5s'|format(watermark['6'])}}{{'%-5s'|format(watermark['7'])}}
  {% endif %}
{% endfor %}
{% endif %}
