{{'Egress queue watermark per unicast queue:'}}
{{'-----------------------------------------------'}}
{{'%-5s'|format("UC0")}}{{'%-5s'|format("UC1")}}{{'%-5s'|format("UC2")}}{{'%-5s'|format("UC3")}}{{'%-5s'|format("UC4")}}{{'%-5s'|format("UC5")}}{{'%-5s'|format("UC6")}}{{'%-5s'|format("UC7")}}
{{'-----------------------------------------------'}}
{% if json_output %}
{% set watermark = {}%}
{% set queue_info_list = json_output['queue'] %}
{% for queue_info in queue_info_list %}
    {% set q_stats_info = queue_info['state'] %}
    {% set queue = q_stats_info['name'] %}
    {% if watermark.update({queue :  q_stats_info['openconfig-qos-ext:watermark']}) %} {% endif %}
{% endfor %}
{{'%-5s'|format(watermark['0'])}}{{'%-5s'|format(watermark['1'])}}{{'%-5s'|format(watermark['2'])}}{{'%-5s'|format(watermark['3'])}}{{'%-5s'|format(watermark['4'])}}{{'%-5s'|format(watermark['5'])}}{{'%-5s'|format(watermark['6'])}}{{'%-5s'|format(watermark['7'])}}
{% endif %}
