{{'Egress queue watermark per multicast queue:'}}
{{'-------------------------------------------------------------------'}}
{{'%-12s'|format("Port")}}{{'%-5s'|format("MC8")}}{{'%-5s'|format("MC9")}}{{'%-5s'|format("MC10")}}{{'%-5s'|format("MC11")}}{{'%-5s'|format("MC12")}}{{'%-5s'|format("MC13")}}{{'%-5s'|format("MC14")}}{{'%-5s'|format("MC15")}}
{{'-------------------------------------------------------------------'}}
{% if json_output %}
{% set watermark = {}%}
{% set intf_info_list = json_output['interface'] %}
{% for intf_info in intf_info_list %}
  {% set intfName = intf_info['interface-id'] %}
  {% if intfName != "CPU" %}
  {% set output = intf_info['output'] %}
  {% set queues = output['queues'] %}
  {% set queue_info_list = queues['queue'] %}
  {% for queue_info in queue_info_list %}
    {% set q_stats_info = queue_info['state'] %}
    {% set queue = q_stats_info['name'] %}
    {% if watermark.update({queue :  q_stats_info['openconfig-qos-ext:watermark']}) %} {% endif %}
  {% endfor %}
{{'%-12s'|format(intfName)}}{{'%-5s'|format(watermark['8'])}}{{'%-5s'|format(watermark['9'])}}{{'%-5s'|format(watermark['10'])}}{{'%-5s'|format(watermark['11'])}}{{'%-5s'|format(watermark['12'])}}{{'%-5s'|format(watermark['13'])}}{{'%-5s'|format(watermark['14'])}}{{'%-5s'|format(watermark['15'])}}
  {% endif %}
{% endfor %}
{% endif %}
