{{'Ingress headroom watermark per PG:'}}
{{'-------------------------------------------------------------------'}}
{{'%-12s'|format("Port")}}{{'%-5s'|format("PG0")}}{{'%-5s'|format("PG1")}}{{'%-5s'|format("PG2")}}{{'%-5s'|format("PG3")}}{{'%-5s'|format("PG4")}}{{'%-5s'|format("PG5")}}{{'%-5s'|format("PG6")}}{{'%-5s'|format("PG7")}}
{{'-------------------------------------------------------------------'}}
{% if json_output %}
{% set watermark = {}%}
{% set intf_info_list = json_output['interface'] %}
{% for intf_info in intf_info_list %}
  {% set intfName = intf_info['interface-id'] %}
  {% if intfName != "CPU" %}
  {% set input = intf_info['input'] %}
  {% set pgs = input['openconfig-qos-ext:priority-groups'] %}
  {% set pg_info_list = pgs['priority-group'] %}
  {% for pg_info in pg_info_list %}
    {% set pg_stats_info = pg_info['state'] %}
    {% set pg = pg_stats_info['name'] %}
    {% if watermark.update({pg :  pg_stats_info['headroom-watermark']}) %} {% endif %}
  {% endfor %}
{{'%-12s'|format(intfName)}}{{'%-5s'|format(watermark['0'])}}{{'%-5s'|format(watermark['1'])}}{{'%-5s'|format(watermark['2'])}}{{'%-5s'|format(watermark['3'])}}{{'%-5s'|format(watermark['4'])}}{{'%-5s'|format(watermark['5'])}}{{'%-5s'|format(watermark['6'])}}{{'%-5s'|format(watermark['7'])}}
  {% endif %}
{% endfor %}
{% endif %}
