{% set vars = {'name': ""} %}
{% set vars = {'ecn': ""} %}
{% set vars = {'green_min_threshold': ""} %}
{% set vars = {'yellow_min_threshold': ""} %}
{% set vars = {'red_min_threshold': ""} %}
{% set vars = {'green_max_threshold': ""} %}
{% set vars = {'yellow_max_threshold': ""} %}
{% set vars = {'red_max_threshold': ""} %}
{% set vars = {'green_drop_rate': ""} %}
{% set vars = {'yellow_drop_rate': ""} %}
{% set vars = {'red_drop_rate': ""} %}
{% if json_output -%}
{% for key_json in json_output %}
    {% if key_json == "sonic-wred-profile:sonic-wred-profile" %}
        {% set ecn_list = json_output[key_json]["WRED_PROFILE"]["WRED_PROFILE_LIST"] %}
    {% else %}
        {% set ecn_list = json_output[key_json] %}
    {% endif %}
{% for ecn in ecn_list %}
    {% if vars.update({'name':ecn["name"]}) %}{% endif %}
    {% if vars.update({'ecn':ecn["ecn"]}) %}{% endif %}
    {% if vars.update({'green_min_threshold':ecn["green_min_threshold"]}) %}{% endif %}
    {% if vars.update({'yellow_min_threshold':ecn["yellow_min_threshold"]}) %}{% endif %}
    {% if vars.update({'red_min_threshold':ecn["red_min_threshold"]}) %}{% endif %}
    {% if vars.update({'green_max_threshold':ecn["green_max_threshold"]}) %}{% endif %}
    {% if vars.update({'yellow_max_threshold':ecn["yellow_max_threshold"]}) %}{% endif %}
    {% if vars.update({'red_max_threshold':ecn["red_max_threshold"]}) %}{% endif %}
    {% if vars.update({'green_drop_rate':ecn["green_drop_rate"]}) %}{% endif %}
    {% if vars.update({'yellow_drop_rate':ecn["yellow_drop_rate"]}) %}{% endif %}
    {% if vars.update({'red_drop_rate':ecn["red_drop_rate"]}) %}{% endif %}
---------------------------------------------------
Profile                : {{ vars.name }}
{% if vars.ecn %}
ecn                    : {{ vars.ecn }}
{% endif %}
{% if vars.green_min_threshold %}
green-min-threshold    : {{ vars.green_min_threshold }}
{% endif %}
{% if vars.green_max_threshold %}
green-max-threshold    : {{ vars.green_max_threshold }}
{% endif %}
{% if vars.green_drop_rate %}
greep-drop-rate        : {{ vars.green_drop_rate }}
{% endif %}
{% if vars.yellow_min_threshold %}
yellow-min-threshold   : {{ vars.yellow_min_threshold }}
{% endif %}
{% if vars.yellow_max_threshold %}
yellow-max-threshold   : {{ vars.yellow_max_threshold }}
{% endif %}
{% if vars.yellow_drop_rate %}
yellow-drop-rate       : {{ vars.yellow_drop_rate }}
{% endif %}
{% if vars.red_min_threshold %}
red-min-threshold      : {{ vars.red_min_threshold }}
{% endif %}
{% if vars.red_max_threshold %}
red-max-threshold      : {{ vars.red_max_threshold }}
{% endif %}
{% if vars.red_drop_rate %}
red-drop-rate          : {{ vars.red_drop_rate }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

