{%set po_intf = json_output['portchannel']['sonic-portchannel:LAG_TABLE_LIST'][0] %}
{{po_intf['lagname']}} is {{po_intf['admin_status']}}, line protocol is {{po_intf['oper_status']}}, mode {{po_intf['name']}}
MTU {{po_intf['mtu']}}
{% set intf = json_output['lacp']['openconfig-lacp:interface'][0] %}
LACP mode {{intf['state']['lacp-mode']}} interval {{intf['state']['interval']}} priority {{intf['state']['system-priority']}} address {{intf['state']['system-id-mac']}}
{% for mem in intf['members']['member'] %}
Members in this channel: {{mem['interface'] }}
LACP Actor port {{mem['state']['port-num']}}  address {{mem['state']['system-id']}} key {{mem['state']['oper-key']}}
LACP Partner port {{mem['state']['partner-port-num']}}  address {{mem['state']['partner-id']}} key {{mem['state']['partner-key']}}
{% endfor %}

