{% if json_output %}
{% set schedulers = json_output['openconfig-qos:schedulers'] %}
{% set scheduler_list = schedulers['scheduler'] %}
{% for scheduler in scheduler_list %}
  {{' Scheduler: '}}{{scheduler['sequence']}}

  {% set config = scheduler['config'] %}
  {% if config %}
    {% if config['priority'] %}
    {{'  Strict Priority scheduler '}}
    {% endif %}

    {% if config['weight'] %}
    {{'  Weight: '}}{{config['weight']}}
    {% endif %}
  {% endif %}

  {% set rate = scheduler['two-rate-three-color'] %}
  {% if rate %}
    {% set rate_config = rate['config'] %}
    {% if rate_config %}
        {% if rate_config['cir'] %}
            {{'    Cir: '}}{{rate_config['cir']}}
        {% endif %}
        {% if rate_config['pir'] %}
            {{'    Cir: '}}{{rate_config['pir']}}
        {% endif %}
        {% if rate_config['bc'] %}
            {{'    Min-burst: '}}{{rate_config['bc']}}
        {% endif %}
        {% if rate_config['be'] %}
            {{'    Max-burst: '}}{{rate_config['be']}}
        {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
{% endif %}
