DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	dh $@  --with autotools-dev --parallel

override_dh_auto_configure:
	dh_auto_configure

override_dh_auto_install:
	dh_auto_install --destdir=debian/protobuf

override_dh_strip:
	dh_strip --dbg-package=protobuf-dbg
