# coding: utf-8

"""
    Sonic Network Management APIs

    Network management Open APIs for Sonic.  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from openconfig_telemetry_client.api_client import ApiClient


class OpenconfigTelemetryApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group(self, **kwargs):  # noqa: E501
        """delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group  # noqa: E501

        OperationId: delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group List of destination-groups. Destination groups allow the reuse of common telemetry destinations across the telemetry configuration. An operator references a set of destinations via the configurable destination-group-identifier.  A destination group may contain one or more telemetry destinations  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group_with_http_info(self, **kwargs):  # noqa: E501
        """delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group  # noqa: E501

        OperationId: delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group List of destination-groups. Destination groups allow the reuse of common telemetry destinations across the telemetry configuration. An operator references a set of destinations via the configurable destination-group-identifier.  A destination group may contain one or more telemetry destinations  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system/destination-groups/destination-group', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination(self, group_id, **kwargs):  # noqa: E501
        """delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination  # noqa: E501

        OperationId: delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination List of telemetry stream destinations  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination(group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str group_id: Unique identifier for the destination group (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination_with_http_info(group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination_with_http_info(group_id, **kwargs)  # noqa: E501
            return data

    def delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination_with_http_info(self, group_id, **kwargs):  # noqa: E501
        """delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination  # noqa: E501

        OperationId: delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination List of telemetry stream destinations  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination_with_http_info(group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str group_id: Unique identifier for the destination group (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['group_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'group_id' is set
        if ('group_id' not in params or
                params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `delete_list_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'group_id' in params:
            path_params['group-id'] = params['group_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system/destination-groups/destination-group={group-id}/destinations/destination', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group(self, **kwargs):  # noqa: E501
        """delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group  # noqa: E501

        OperationId: delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group List of telemetry sensory groups on the local system, where a sensor grouping represents a resuable grouping of multiple paths and exclude filters.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_with_http_info(self, **kwargs):  # noqa: E501
        """delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group  # noqa: E501

        OperationId: delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group List of telemetry sensory groups on the local system, where a sensor grouping represents a resuable grouping of multiple paths and exclude filters.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system/sensor-groups/sensor-group', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path(self, sensor_group_id, **kwargs):  # noqa: E501
        """delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path  # noqa: E501

        OperationId: delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path List of paths in the model which together comprise a sensor grouping. Filters for each path to exclude items are also provided.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path(sensor_group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sensor_group_id: Reference to the name or identifier of the sensor grouping (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_with_http_info(sensor_group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_with_http_info(sensor_group_id, **kwargs)  # noqa: E501
            return data

    def delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_with_http_info(self, sensor_group_id, **kwargs):  # noqa: E501
        """delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path  # noqa: E501

        OperationId: delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path List of paths in the model which together comprise a sensor grouping. Filters for each path to exclude items are also provided.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_with_http_info(sensor_group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sensor_group_id: Reference to the name or identifier of the sensor grouping (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sensor_group_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sensor_group_id' is set
        if ('sensor_group_id' not in params or
                params['sensor_group_id'] is None):
            raise ValueError("Missing the required parameter `sensor_group_id` when calling `delete_list_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sensor_group_id' in params:
            path_params['sensor-group-id'] = params['sensor_group_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system/sensor-groups/sensor-group={sensor-group-id}/sensor-paths/sensor-path', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription(self, **kwargs):  # noqa: E501
        """delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription  # noqa: E501

        OperationId: delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription List of telemetry subscriptions. A telemetry subscription consists of a set of collection destinations, stream attributes, and associated paths to state information in the model (sensor data)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_with_http_info(self, **kwargs):  # noqa: E501
        """delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription  # noqa: E501

        OperationId: delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription List of telemetry subscriptions. A telemetry subscription consists of a set of collection destinations, stream attributes, and associated paths to state information in the model (sensor data)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system/subscriptions/persistent-subscriptions/persistent-subscription', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_destination_groups_destination_group(self, name, **kwargs):  # noqa: E501
        """delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_destination_groups_destination_group  # noqa: E501

        OperationId: delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_destination_groups_destination_group Identifier of the previously defined destination group  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_destination_groups_destination_group(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Reference to the identifier of the subscription itself. The id will be the handle to refer to the subscription once created (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_destination_groups_destination_group_with_http_info(name, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_destination_groups_destination_group_with_http_info(name, **kwargs)  # noqa: E501
            return data

    def delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_destination_groups_destination_group_with_http_info(self, name, **kwargs):  # noqa: E501
        """delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_destination_groups_destination_group  # noqa: E501

        OperationId: delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_destination_groups_destination_group Identifier of the previously defined destination group  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_destination_groups_destination_group_with_http_info(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Reference to the identifier of the subscription itself. The id will be the handle to refer to the subscription once created (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_destination_groups_destination_group" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_destination_groups_destination_group`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system/subscriptions/persistent-subscriptions/persistent-subscription={name}/destination-groups/destination-group', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_sensor_profiles_sensor_profile(self, name, **kwargs):  # noqa: E501
        """delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_sensor_profiles_sensor_profile  # noqa: E501

        OperationId: delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_sensor_profiles_sensor_profile List of telemetry sensor groups used in the subscription  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_sensor_profiles_sensor_profile(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Reference to the identifier of the subscription itself. The id will be the handle to refer to the subscription once created (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_sensor_profiles_sensor_profile_with_http_info(name, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_sensor_profiles_sensor_profile_with_http_info(name, **kwargs)  # noqa: E501
            return data

    def delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_sensor_profiles_sensor_profile_with_http_info(self, name, **kwargs):  # noqa: E501
        """delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_sensor_profiles_sensor_profile  # noqa: E501

        OperationId: delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_sensor_profiles_sensor_profile List of telemetry sensor groups used in the subscription  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_sensor_profiles_sensor_profile_with_http_info(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Reference to the identifier of the subscription itself. The id will be the handle to refer to the subscription once created (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_sensor_profiles_sensor_profile" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `delete_list_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_sensor_profiles_sensor_profile`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system/subscriptions/persistent-subscriptions/persistent-subscription={name}/sensor-profiles/sensor-profile', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_telemetry_telemetry_system(self, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system Top level configuration and state for the device's telemetry system.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_telemetry_telemetry_system_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_telemetry_telemetry_system_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_openconfig_telemetry_telemetry_system_with_http_info(self, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system Top level configuration and state for the device's telemetry system.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_telemetry_telemetry_system" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_telemetry_telemetry_system_destination_groups(self, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_destination_groups  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_destination_groups Top level container for destination group configuration and state.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_destination_groups(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_telemetry_telemetry_system_destination_groups_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_telemetry_telemetry_system_destination_groups_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_openconfig_telemetry_telemetry_system_destination_groups_with_http_info(self, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_destination_groups  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_destination_groups Top level container for destination group configuration and state.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_destination_groups_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_telemetry_telemetry_system_destination_groups" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system/destination-groups', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group(self, group_id, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group List of destination-groups. Destination groups allow the reuse of common telemetry destinations across the telemetry configuration. An operator references a set of destinations via the configurable destination-group-identifier.  A destination group may contain one or more telemetry destinations  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group(group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str group_id: Unique identifier for the destination group (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_with_http_info(group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_with_http_info(group_id, **kwargs)  # noqa: E501
            return data

    def delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_with_http_info(self, group_id, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group List of destination-groups. Destination groups allow the reuse of common telemetry destinations across the telemetry configuration. An operator references a set of destinations via the configurable destination-group-identifier.  A destination group may contain one or more telemetry destinations  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_with_http_info(group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str group_id: Unique identifier for the destination group (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['group_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'group_id' is set
        if ('group_id' not in params or
                params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'group_id' in params:
            path_params['group-id'] = params['group_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system/destination-groups/destination-group={group-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations(self, group_id, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations The destination container lists the destination information such as IP address and port of the telemetry messages from the network element.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations(group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str group_id: Unique identifier for the destination group (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_with_http_info(group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_with_http_info(group_id, **kwargs)  # noqa: E501
            return data

    def delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_with_http_info(self, group_id, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations The destination container lists the destination information such as IP address and port of the telemetry messages from the network element.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_with_http_info(group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str group_id: Unique identifier for the destination group (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['group_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'group_id' is set
        if ('group_id' not in params or
                params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'group_id' in params:
            path_params['group-id'] = params['group_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system/destination-groups/destination-group={group-id}/destinations', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination(self, group_id, destination_address, destination_port, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination List of telemetry stream destinations  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination(group_id, destination_address, destination_port, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str group_id: Unique identifier for the destination group (required)
        :param str destination_address: Reference to the destination address of the telemetry stream (required)
        :param int destination_port: Reference to the port number of the stream destination (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination_with_http_info(group_id, destination_address, destination_port, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination_with_http_info(group_id, destination_address, destination_port, **kwargs)  # noqa: E501
            return data

    def delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination_with_http_info(self, group_id, destination_address, destination_port, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination List of telemetry stream destinations  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination_with_http_info(group_id, destination_address, destination_port, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str group_id: Unique identifier for the destination group (required)
        :param str destination_address: Reference to the destination address of the telemetry stream (required)
        :param int destination_port: Reference to the port number of the stream destination (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['group_id', 'destination_address', 'destination_port']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'group_id' is set
        if ('group_id' not in params or
                params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination`")  # noqa: E501
        # verify the required parameter 'destination_address' is set
        if ('destination_address' not in params or
                params['destination_address'] is None):
            raise ValueError("Missing the required parameter `destination_address` when calling `delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination`")  # noqa: E501
        # verify the required parameter 'destination_port' is set
        if ('destination_port' not in params or
                params['destination_port'] is None):
            raise ValueError("Missing the required parameter `destination_port` when calling `delete_openconfig_telemetry_telemetry_system_destination_groups_destination_group_destinations_destination`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'group_id' in params:
            path_params['group-id'] = params['group_id']  # noqa: E501
        if 'destination_address' in params:
            path_params['destination-address'] = params['destination_address']  # noqa: E501
        if 'destination_port' in params:
            path_params['destination-port'] = params['destination_port']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system/destination-groups/destination-group={group-id}/destinations/destination={destination-address},{destination-port}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_telemetry_telemetry_system_sensor_groups(self, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_sensor_groups  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_sensor_groups Top level container for sensor-groups.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_sensor_groups(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_telemetry_telemetry_system_sensor_groups_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_telemetry_telemetry_system_sensor_groups_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_openconfig_telemetry_telemetry_system_sensor_groups_with_http_info(self, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_sensor_groups  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_sensor_groups Top level container for sensor-groups.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_sensor_groups_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_telemetry_telemetry_system_sensor_groups" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system/sensor-groups', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group(self, sensor_group_id, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group List of telemetry sensory groups on the local system, where a sensor grouping represents a resuable grouping of multiple paths and exclude filters.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group(sensor_group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sensor_group_id: Reference to the name or identifier of the sensor grouping (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_with_http_info(sensor_group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_with_http_info(sensor_group_id, **kwargs)  # noqa: E501
            return data

    def delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_with_http_info(self, sensor_group_id, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group List of telemetry sensory groups on the local system, where a sensor grouping represents a resuable grouping of multiple paths and exclude filters.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_with_http_info(sensor_group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sensor_group_id: Reference to the name or identifier of the sensor grouping (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sensor_group_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sensor_group_id' is set
        if ('sensor_group_id' not in params or
                params['sensor_group_id'] is None):
            raise ValueError("Missing the required parameter `sensor_group_id` when calling `delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sensor_group_id' in params:
            path_params['sensor-group-id'] = params['sensor_group_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system/sensor-groups/sensor-group={sensor-group-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths(self, sensor_group_id, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths Top level container to hold a set of sensor paths grouped together  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths(sensor_group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sensor_group_id: Reference to the name or identifier of the sensor grouping (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_with_http_info(sensor_group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_with_http_info(sensor_group_id, **kwargs)  # noqa: E501
            return data

    def delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_with_http_info(self, sensor_group_id, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths Top level container to hold a set of sensor paths grouped together  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_with_http_info(sensor_group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sensor_group_id: Reference to the name or identifier of the sensor grouping (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sensor_group_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sensor_group_id' is set
        if ('sensor_group_id' not in params or
                params['sensor_group_id'] is None):
            raise ValueError("Missing the required parameter `sensor_group_id` when calling `delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sensor_group_id' in params:
            path_params['sensor-group-id'] = params['sensor_group_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system/sensor-groups/sensor-group={sensor-group-id}/sensor-paths', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path(self, sensor_group_id, path, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path List of paths in the model which together comprise a sensor grouping. Filters for each path to exclude items are also provided.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path(sensor_group_id, path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sensor_group_id: Reference to the name or identifier of the sensor grouping (required)
        :param str path: Reference to the path of interest (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_with_http_info(sensor_group_id, path, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_with_http_info(sensor_group_id, path, **kwargs)  # noqa: E501
            return data

    def delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_with_http_info(self, sensor_group_id, path, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path List of paths in the model which together comprise a sensor grouping. Filters for each path to exclude items are also provided.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_with_http_info(sensor_group_id, path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sensor_group_id: Reference to the name or identifier of the sensor grouping (required)
        :param str path: Reference to the path of interest (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sensor_group_id', 'path']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sensor_group_id' is set
        if ('sensor_group_id' not in params or
                params['sensor_group_id'] is None):
            raise ValueError("Missing the required parameter `sensor_group_id` when calling `delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path`")  # noqa: E501
        # verify the required parameter 'path' is set
        if ('path' not in params or
                params['path'] is None):
            raise ValueError("Missing the required parameter `path` when calling `delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sensor_group_id' in params:
            path_params['sensor-group-id'] = params['sensor_group_id']  # noqa: E501
        if 'path' in params:
            path_params['path'] = params['path']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system/sensor-groups/sensor-group={sensor-group-id}/sensor-paths/sensor-path={path}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_config_exclude_filter(self, sensor_group_id, path, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_config_exclude_filter  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_config_exclude_filter Filter to exclude certain values out of the state values  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_config_exclude_filter(sensor_group_id, path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sensor_group_id: Reference to the name or identifier of the sensor grouping (required)
        :param str path: Reference to the path of interest (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_config_exclude_filter_with_http_info(sensor_group_id, path, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_config_exclude_filter_with_http_info(sensor_group_id, path, **kwargs)  # noqa: E501
            return data

    def delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_config_exclude_filter_with_http_info(self, sensor_group_id, path, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_config_exclude_filter  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_config_exclude_filter Filter to exclude certain values out of the state values  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_config_exclude_filter_with_http_info(sensor_group_id, path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sensor_group_id: Reference to the name or identifier of the sensor grouping (required)
        :param str path: Reference to the path of interest (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sensor_group_id', 'path']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_config_exclude_filter" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sensor_group_id' is set
        if ('sensor_group_id' not in params or
                params['sensor_group_id'] is None):
            raise ValueError("Missing the required parameter `sensor_group_id` when calling `delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_config_exclude_filter`")  # noqa: E501
        # verify the required parameter 'path' is set
        if ('path' not in params or
                params['path'] is None):
            raise ValueError("Missing the required parameter `path` when calling `delete_openconfig_telemetry_telemetry_system_sensor_groups_sensor_group_sensor_paths_sensor_path_config_exclude_filter`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sensor_group_id' in params:
            path_params['sensor-group-id'] = params['sensor_group_id']  # noqa: E501
        if 'path' in params:
            path_params['path'] = params['path']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system/sensor-groups/sensor-group={sensor-group-id}/sensor-paths/sensor-path={path}/config/exclude-filter', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_telemetry_telemetry_system_subscriptions(self, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_subscriptions  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_subscriptions This container holds information for both persistent and dynamic telemetry subscriptions.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_subscriptions(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_telemetry_telemetry_system_subscriptions_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_telemetry_telemetry_system_subscriptions_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_openconfig_telemetry_telemetry_system_subscriptions_with_http_info(self, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_subscriptions  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_subscriptions This container holds information for both persistent and dynamic telemetry subscriptions.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_subscriptions_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_telemetry_telemetry_system_subscriptions" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system/subscriptions', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_telemetry_telemetry_system_subscriptions_dynamic_subscriptions(self, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_subscriptions_dynamic_subscriptions  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_subscriptions_dynamic_subscriptions This container holds information relating to dynamic telemetry subscriptions. A dynamic subscription is typically configured through an RPC channel, and does not persist across device restarts, or if the RPC channel is reset or otherwise torn down.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_subscriptions_dynamic_subscriptions(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_telemetry_telemetry_system_subscriptions_dynamic_subscriptions_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_telemetry_telemetry_system_subscriptions_dynamic_subscriptions_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_openconfig_telemetry_telemetry_system_subscriptions_dynamic_subscriptions_with_http_info(self, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_subscriptions_dynamic_subscriptions  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_subscriptions_dynamic_subscriptions This container holds information relating to dynamic telemetry subscriptions. A dynamic subscription is typically configured through an RPC channel, and does not persist across device restarts, or if the RPC channel is reset or otherwise torn down.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_subscriptions_dynamic_subscriptions_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_telemetry_telemetry_system_subscriptions_dynamic_subscriptions" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system/subscriptions/dynamic-subscriptions', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions(self, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions This container holds information relating to persistent telemetry subscriptions. A persistent telemetry subscription is configued locally on the device through configuration, and is persistent across device restarts or other redundancy changes.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_with_http_info(self, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions This container holds information relating to persistent telemetry subscriptions. A persistent telemetry subscription is configued locally on the device through configuration, and is persistent across device restarts or other redundancy changes.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-telemetry:telemetry-system/subscriptions/persistent-subscriptions', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription(self, name, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription List of telemetry subscriptions. A telemetry subscription consists of a set of collection destinations, stream attributes, and associated paths to state information in the model (sensor data)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Reference to the identifier of the subscription itself. The id will be the handle to refer to the subscription once created (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_with_http_info(name, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_with_http_info(name, **kwargs)  # noqa: E501
            return data

    def delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_with_http_info(self, name, **kwargs):  # noqa: E501
        """delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription  # noqa: E501

        OperationId: delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription List of telemetry subscriptions. A telemetry subscription consists of a set of collection destinations, stream attributes, and associated paths to state information in the model (sensor data)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_telemetry_telemetry_system_subscriptions_persistent_subscriptions_persistent_subscription_with_http_info(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Reference to the identifier of the subscription itself. The id will be the handle to refer to the subscription once created (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

[...]
