# coding: utf-8

"""
    Sonic Network Management APIs

    Network management Open APIs for Sonic.  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from openconfig_lldp_client.api_client import ApiClient


class OpenconfigLldpApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_list_openconfig_lldp_lldp_interfaces_interface(self, **kwargs):  # noqa: E501
        """delete_list_openconfig_lldp_lldp_interfaces_interface  # noqa: E501

        OperationId: delete_list_openconfig_lldp_lldp_interfaces_interface List of interfaces on which LLDP is enabled / available  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_list_openconfig_lldp_lldp_interfaces_interface(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_list_openconfig_lldp_lldp_interfaces_interface_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_list_openconfig_lldp_lldp_interfaces_interface_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_list_openconfig_lldp_lldp_interfaces_interface_with_http_info(self, **kwargs):  # noqa: E501
        """delete_list_openconfig_lldp_lldp_interfaces_interface  # noqa: E501

        OperationId: delete_list_openconfig_lldp_lldp_interfaces_interface List of interfaces on which LLDP is enabled / available  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_list_openconfig_lldp_lldp_interfaces_interface_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_list_openconfig_lldp_lldp_interfaces_interface" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/interfaces/interface', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_lldp_lldp(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp Top-level container for LLDP configuration and state data  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_lldp_lldp_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_lldp_lldp_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_openconfig_lldp_lldp_with_http_info(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp Top-level container for LLDP configuration and state data  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_lldp_lldp" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_lldp_lldp_config(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_config  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_config Configuration data   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_config(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_lldp_lldp_config_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_lldp_lldp_config_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_openconfig_lldp_lldp_config_with_http_info(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_config  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_config Configuration data   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_config_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_lldp_lldp_config" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/config', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_lldp_lldp_config_chassis_id(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_config_chassis_id  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_config_chassis_id The Chassis ID is a mandatory TLV which identifies the chassis component of the endpoint identifier associated with the transmitting LLDP agent  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_config_chassis_id(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_lldp_lldp_config_chassis_id_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_lldp_lldp_config_chassis_id_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_openconfig_lldp_lldp_config_chassis_id_with_http_info(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_config_chassis_id  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_config_chassis_id The Chassis ID is a mandatory TLV which identifies the chassis component of the endpoint identifier associated with the transmitting LLDP agent  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_config_chassis_id_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_lldp_lldp_config_chassis_id" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/config/chassis-id', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_lldp_lldp_config_chassis_id_type(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_config_chassis_id_type  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_config_chassis_id_type This field identifies the format and source of the chassis identifier string. It is an enumerator defined by the LldpChassisIdSubtype object from IEEE 802.1AB MIB.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_config_chassis_id_type(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_lldp_lldp_config_chassis_id_type_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_lldp_lldp_config_chassis_id_type_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_openconfig_lldp_lldp_config_chassis_id_type_with_http_info(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_config_chassis_id_type  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_config_chassis_id_type This field identifies the format and source of the chassis identifier string. It is an enumerator defined by the LldpChassisIdSubtype object from IEEE 802.1AB MIB.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_config_chassis_id_type_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_lldp_lldp_config_chassis_id_type" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/config/chassis-id-type', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_lldp_lldp_config_enabled(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_config_enabled  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_config_enabled System level state of the LLDP protocol.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_config_enabled(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_lldp_lldp_config_enabled_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_lldp_lldp_config_enabled_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_openconfig_lldp_lldp_config_enabled_with_http_info(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_config_enabled  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_config_enabled System level state of the LLDP protocol.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_config_enabled_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_lldp_lldp_config_enabled" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/config/enabled', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_lldp_lldp_config_hello_timer(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_config_hello_timer  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_config_hello_timer System level hello timer for the LLDP protocol.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_config_hello_timer(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_lldp_lldp_config_hello_timer_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_lldp_lldp_config_hello_timer_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_openconfig_lldp_lldp_config_hello_timer_with_http_info(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_config_hello_timer  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_config_hello_timer System level hello timer for the LLDP protocol.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_config_hello_timer_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_lldp_lldp_config_hello_timer" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/config/hello-timer', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_lldp_lldp_config_suppress_tlv_advertisement(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_config_suppress_tlv_advertisement  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_config_suppress_tlv_advertisement Indicates whether the local system should suppress the advertisement of particular TLVs with the LLDP PDUs that it transmits. Where a TLV type is specified within this list, it should not be included in any LLDP PDU transmitted by the local agent.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_config_suppress_tlv_advertisement(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_lldp_lldp_config_suppress_tlv_advertisement_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_lldp_lldp_config_suppress_tlv_advertisement_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_openconfig_lldp_lldp_config_suppress_tlv_advertisement_with_http_info(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_config_suppress_tlv_advertisement  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_config_suppress_tlv_advertisement Indicates whether the local system should suppress the advertisement of particular TLVs with the LLDP PDUs that it transmits. Where a TLV type is specified within this list, it should not be included in any LLDP PDU transmitted by the local agent.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_config_suppress_tlv_advertisement_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_lldp_lldp_config_suppress_tlv_advertisement" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/config/suppress-tlv-advertisement', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_lldp_lldp_config_system_description(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_config_system_description  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_config_system_description The system description field shall contain an alpha-numeric string that is the textual description of the network entity. The system description should include the full name and version identification of the system's hardware type, software operating system, and networking software. If implementations support IETF RFC 3418, the sysDescr object should be used for this field.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_config_system_description(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_lldp_lldp_config_system_description_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_lldp_lldp_config_system_description_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_openconfig_lldp_lldp_config_system_description_with_http_info(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_config_system_description  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_config_system_description The system description field shall contain an alpha-numeric string that is the textual description of the network entity. The system description should include the full name and version identification of the system's hardware type, software operating system, and networking software. If implementations support IETF RFC 3418, the sysDescr object should be used for this field.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_config_system_description_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_lldp_lldp_config_system_description" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/config/system-description', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_lldp_lldp_config_system_name(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_config_system_name  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_config_system_name The system name field shall contain an alpha-numeric string that indicates the system's administratively assigned name. The system name should be the system's fully qualified domain name. If implementations support IETF RFC 3418, the sysName object should be used for this field.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_config_system_name(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_lldp_lldp_config_system_name_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_lldp_lldp_config_system_name_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_openconfig_lldp_lldp_config_system_name_with_http_info(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_config_system_name  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_config_system_name The system name field shall contain an alpha-numeric string that indicates the system's administratively assigned name. The system name should be the system's fully qualified domain name. If implementations support IETF RFC 3418, the sysName object should be used for this field.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_config_system_name_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_lldp_lldp_config_system_name" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/config/system-name', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_lldp_lldp_interfaces(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_interfaces  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_interfaces Enclosing container   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_interfaces(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_lldp_lldp_interfaces_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_lldp_lldp_interfaces_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_openconfig_lldp_lldp_interfaces_with_http_info(self, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_interfaces  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_interfaces Enclosing container   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_interfaces_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_lldp_lldp_interfaces" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/interfaces', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_lldp_lldp_interfaces_interface(self, name, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_interfaces_interface  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_interfaces_interface List of interfaces on which LLDP is enabled / available  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_interfaces_interface(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Reference to the list key (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_lldp_lldp_interfaces_interface_with_http_info(name, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_lldp_lldp_interfaces_interface_with_http_info(name, **kwargs)  # noqa: E501
            return data

    def delete_openconfig_lldp_lldp_interfaces_interface_with_http_info(self, name, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_interfaces_interface  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_interfaces_interface List of interfaces on which LLDP is enabled / available  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_interfaces_interface_with_http_info(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Reference to the list key (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_lldp_lldp_interfaces_interface" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `delete_openconfig_lldp_lldp_interfaces_interface`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/interfaces/interface={name}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_openconfig_lldp_lldp_interfaces_interface_config_enabled(self, name, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_interfaces_interface_config_enabled  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_interfaces_interface_config_enabled Enable or disable the LLDP protocol on the interface.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_interfaces_interface_config_enabled(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Reference to the list key (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_openconfig_lldp_lldp_interfaces_interface_config_enabled_with_http_info(name, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_openconfig_lldp_lldp_interfaces_interface_config_enabled_with_http_info(name, **kwargs)  # noqa: E501
            return data

    def delete_openconfig_lldp_lldp_interfaces_interface_config_enabled_with_http_info(self, name, **kwargs):  # noqa: E501
        """delete_openconfig_lldp_lldp_interfaces_interface_config_enabled  # noqa: E501

        OperationId: delete_openconfig_lldp_lldp_interfaces_interface_config_enabled Enable or disable the LLDP protocol on the interface.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_openconfig_lldp_lldp_interfaces_interface_config_enabled_with_http_info(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Reference to the list key (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_openconfig_lldp_lldp_interfaces_interface_config_enabled" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `delete_openconfig_lldp_lldp_interfaces_interface_config_enabled`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/interfaces/interface={name}/config/enabled', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_list_openconfig_lldp_lldp_interfaces_interface(self, **kwargs):  # noqa: E501
        """get_list_openconfig_lldp_lldp_interfaces_interface  # noqa: E501

        OperationId: get_list_openconfig_lldp_lldp_interfaces_interface List of interfaces on which LLDP is enabled / available  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_list_openconfig_lldp_lldp_interfaces_interface(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetOpenconfigLldpLldpInterfacesInterface
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_list_openconfig_lldp_lldp_interfaces_interface_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_list_openconfig_lldp_lldp_interfaces_interface_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_list_openconfig_lldp_lldp_interfaces_interface_with_http_info(self, **kwargs):  # noqa: E501
        """get_list_openconfig_lldp_lldp_interfaces_interface  # noqa: E501

        OperationId: get_list_openconfig_lldp_lldp_interfaces_interface List of interfaces on which LLDP is enabled / available  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_list_openconfig_lldp_lldp_interfaces_interface_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetOpenconfigLldpLldpInterfacesInterface
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_list_openconfig_lldp_lldp_interfaces_interface" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/interfaces/interface', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetOpenconfigLldpLldpInterfacesInterface',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor(self, name, **kwargs):  # noqa: E501
        """get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor  # noqa: E501

        OperationId: get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor List of LLDP neighbors  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Reference to the list key (required)
        :return: GetOpenconfigLldpLldpInterfacesInterfaceNeighborsNeighbor
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_with_http_info(name, **kwargs)  # noqa: E501
        else:
            (data) = self.get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_with_http_info(name, **kwargs)  # noqa: E501
            return data

    def get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_with_http_info(self, name, **kwargs):  # noqa: E501
        """get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor  # noqa: E501

        OperationId: get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor List of LLDP neighbors  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_with_http_info(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Reference to the list key (required)
        :return: GetOpenconfigLldpLldpInterfacesInterfaceNeighborsNeighbor
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/interfaces/interface={name}/neighbors/neighbor', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetOpenconfigLldpLldpInterfacesInterfaceNeighborsNeighbor',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_capabilities_capability(self, name, id, **kwargs):  # noqa: E501
        """get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_capabilities_capability  # noqa: E501

        OperationId: get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_capabilities_capability List of LLDP system capabilities advertised by the neighbor  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_capabilities_capability(name, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Reference to the list key (required)
        :param str id:   (required)
        :return: GetOpenconfigLldpLldpInterfacesInterfaceNeighborsNeighborCapabilitiesCapability
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_capabilities_capability_with_http_info(name, id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_capabilities_capability_with_http_info(name, id, **kwargs)  # noqa: E501
            return data

    def get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_capabilities_capability_with_http_info(self, name, id, **kwargs):  # noqa: E501
        """get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_capabilities_capability  # noqa: E501

        OperationId: get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_capabilities_capability List of LLDP system capabilities advertised by the neighbor  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_capabilities_capability_with_http_info(name, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Reference to the list key (required)
        :param str id:   (required)
        :return: GetOpenconfigLldpLldpInterfacesInterfaceNeighborsNeighborCapabilitiesCapability
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_capabilities_capability" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_capabilities_capability`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_capabilities_capability`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/interfaces/interface={name}/neighbors/neighbor={id}/capabilities/capability', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetOpenconfigLldpLldpInterfacesInterfaceNeighborsNeighborCapabilitiesCapability',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_custom_tlvs_tlv(self, name, id, **kwargs):  # noqa: E501
        """get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_custom_tlvs_tlv  # noqa: E501

        OperationId: get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_custom_tlvs_tlv List of custom LLDP TLVs from a neighbor  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_custom_tlvs_tlv(name, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Reference to the list key (required)
        :param str id:   (required)
        :return: GetOpenconfigLldpLldpInterfacesInterfaceNeighborsNeighborCustomTlvsTlv
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_custom_tlvs_tlv_with_http_info(name, id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_custom_tlvs_tlv_with_http_info(name, id, **kwargs)  # noqa: E501
            return data

    def get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_custom_tlvs_tlv_with_http_info(self, name, id, **kwargs):  # noqa: E501
        """get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_custom_tlvs_tlv  # noqa: E501

        OperationId: get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_custom_tlvs_tlv List of custom LLDP TLVs from a neighbor  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_custom_tlvs_tlv_with_http_info(name, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Reference to the list key (required)
        :param str id:   (required)
        :return: GetOpenconfigLldpLldpInterfacesInterfaceNeighborsNeighborCustomTlvsTlv
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_custom_tlvs_tlv" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_custom_tlvs_tlv`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_list_openconfig_lldp_lldp_interfaces_interface_neighbors_neighbor_custom_tlvs_tlv`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/interfaces/interface={name}/neighbors/neighbor={id}/custom-tlvs/tlv', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetOpenconfigLldpLldpInterfacesInterfaceNeighborsNeighborCustomTlvsTlv',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_openconfig_lldp_lldp(self, **kwargs):  # noqa: E501
        """get_openconfig_lldp_lldp  # noqa: E501

        OperationId: get_openconfig_lldp_lldp Top-level container for LLDP configuration and state data  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_openconfig_lldp_lldp(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetOpenconfigLldpLldp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_openconfig_lldp_lldp_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_openconfig_lldp_lldp_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_openconfig_lldp_lldp_with_http_info(self, **kwargs):  # noqa: E501
        """get_openconfig_lldp_lldp  # noqa: E501

        OperationId: get_openconfig_lldp_lldp Top-level container for LLDP configuration and state data  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_openconfig_lldp_lldp_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetOpenconfigLldpLldp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_openconfig_lldp_lldp" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetOpenconfigLldpLldp',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_openconfig_lldp_lldp_config(self, **kwargs):  # noqa: E501
        """get_openconfig_lldp_lldp_config  # noqa: E501

        OperationId: get_openconfig_lldp_lldp_config Configuration data   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_openconfig_lldp_lldp_config(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetOpenconfigLldpLldpConfig
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_openconfig_lldp_lldp_config_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_openconfig_lldp_lldp_config_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_openconfig_lldp_lldp_config_with_http_info(self, **kwargs):  # noqa: E501
        """get_openconfig_lldp_lldp_config  # noqa: E501

        OperationId: get_openconfig_lldp_lldp_config Configuration data   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_openconfig_lldp_lldp_config_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetOpenconfigLldpLldpConfig
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_openconfig_lldp_lldp_config" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/config', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetOpenconfigLldpLldpConfig',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_openconfig_lldp_lldp_config_chassis_id(self, **kwargs):  # noqa: E501
        """get_openconfig_lldp_lldp_config_chassis_id  # noqa: E501

        OperationId: get_openconfig_lldp_lldp_config_chassis_id The Chassis ID is a mandatory TLV which identifies the chassis component of the endpoint identifier associated with the transmitting LLDP agent  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_openconfig_lldp_lldp_config_chassis_id(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetOpenconfigLldpLldpConfigChassisId
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_openconfig_lldp_lldp_config_chassis_id_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_openconfig_lldp_lldp_config_chassis_id_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_openconfig_lldp_lldp_config_chassis_id_with_http_info(self, **kwargs):  # noqa: E501
        """get_openconfig_lldp_lldp_config_chassis_id  # noqa: E501

        OperationId: get_openconfig_lldp_lldp_config_chassis_id The Chassis ID is a mandatory TLV which identifies the chassis component of the endpoint identifier associated with the transmitting LLDP agent  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_openconfig_lldp_lldp_config_chassis_id_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetOpenconfigLldpLldpConfigChassisId
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_openconfig_lldp_lldp_config_chassis_id" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/config/chassis-id', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetOpenconfigLldpLldpConfigChassisId',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_openconfig_lldp_lldp_config_chassis_id_type(self, **kwargs):  # noqa: E501
        """get_openconfig_lldp_lldp_config_chassis_id_type  # noqa: E501

        OperationId: get_openconfig_lldp_lldp_config_chassis_id_type This field identifies the format and source of the chassis identifier string. It is an enumerator defined by the LldpChassisIdSubtype object from IEEE 802.1AB MIB.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_openconfig_lldp_lldp_config_chassis_id_type(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetOpenconfigLldpLldpConfigChassisIdType
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_openconfig_lldp_lldp_config_chassis_id_type_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_openconfig_lldp_lldp_config_chassis_id_type_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_openconfig_lldp_lldp_config_chassis_id_type_with_http_info(self, **kwargs):  # noqa: E501
        """get_openconfig_lldp_lldp_config_chassis_id_type  # noqa: E501

        OperationId: get_openconfig_lldp_lldp_config_chassis_id_type This field identifies the format and source of the chassis identifier string. It is an enumerator defined by the LldpChassisIdSubtype object from IEEE 802.1AB MIB.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_openconfig_lldp_lldp_config_chassis_id_type_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetOpenconfigLldpLldpConfigChassisIdType
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_openconfig_lldp_lldp_config_chassis_id_type" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/config/chassis-id-type', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetOpenconfigLldpLldpConfigChassisIdType',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_openconfig_lldp_lldp_config_enabled(self, **kwargs):  # noqa: E501
        """get_openconfig_lldp_lldp_config_enabled  # noqa: E501

        OperationId: get_openconfig_lldp_lldp_config_enabled System level state of the LLDP protocol.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_openconfig_lldp_lldp_config_enabled(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetOpenconfigLldpLldpConfigEnabled
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_openconfig_lldp_lldp_config_enabled_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_openconfig_lldp_lldp_config_enabled_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_openconfig_lldp_lldp_config_enabled_with_http_info(self, **kwargs):  # noqa: E501
        """get_openconfig_lldp_lldp_config_enabled  # noqa: E501

        OperationId: get_openconfig_lldp_lldp_config_enabled System level state of the LLDP protocol.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_openconfig_lldp_lldp_config_enabled_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetOpenconfigLldpLldpConfigEnabled
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_openconfig_lldp_lldp_config_enabled" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/config/enabled', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetOpenconfigLldpLldpConfigEnabled',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_openconfig_lldp_lldp_config_hello_timer(self, **kwargs):  # noqa: E501
        """get_openconfig_lldp_lldp_config_hello_timer  # noqa: E501

        OperationId: get_openconfig_lldp_lldp_config_hello_timer System level hello timer for the LLDP protocol.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_openconfig_lldp_lldp_config_hello_timer(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetOpenconfigLldpLldpConfigHelloTimer
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_openconfig_lldp_lldp_config_hello_timer_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_openconfig_lldp_lldp_config_hello_timer_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_openconfig_lldp_lldp_config_hello_timer_with_http_info(self, **kwargs):  # noqa: E501
        """get_openconfig_lldp_lldp_config_hello_timer  # noqa: E501

        OperationId: get_openconfig_lldp_lldp_config_hello_timer System level hello timer for the LLDP protocol.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_openconfig_lldp_lldp_config_hello_timer_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetOpenconfigLldpLldpConfigHelloTimer
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_openconfig_lldp_lldp_config_hello_timer" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/config/hello-timer', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetOpenconfigLldpLldpConfigHelloTimer',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_openconfig_lldp_lldp_config_suppress_tlv_advertisement(self, **kwargs):  # noqa: E501
        """get_openconfig_lldp_lldp_config_suppress_tlv_advertisement  # noqa: E501

        OperationId: get_openconfig_lldp_lldp_config_suppress_tlv_advertisement Indicates whether the local system should suppress the advertisement of particular TLVs with the LLDP PDUs that it transmits. Where a TLV type is specified within this list, it should not be included in any LLDP PDU transmitted by the local agent.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_openconfig_lldp_lldp_config_suppress_tlv_advertisement(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetOpenconfigLldpLldpConfigSuppressTlvAdvertisement
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_openconfig_lldp_lldp_config_suppress_tlv_advertisement_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_openconfig_lldp_lldp_config_suppress_tlv_advertisement_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_openconfig_lldp_lldp_config_suppress_tlv_advertisement_with_http_info(self, **kwargs):  # noqa: E501
        """get_openconfig_lldp_lldp_config_suppress_tlv_advertisement  # noqa: E501

        OperationId: get_openconfig_lldp_lldp_config_suppress_tlv_advertisement Indicates whether the local system should suppress the advertisement of particular TLVs with the LLDP PDUs that it transmits. Where a TLV type is specified within this list, it should not be included in any LLDP PDU transmitted by the local agent.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_openconfig_lldp_lldp_config_suppress_tlv_advertisement_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetOpenconfigLldpLldpConfigSuppressTlvAdvertisement
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_openconfig_lldp_lldp_config_suppress_tlv_advertisement" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/config/suppress-tlv-advertisement', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetOpenconfigLldpLldpConfigSuppressTlvAdvertisement',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_openconfig_lldp_lldp_config_system_description(self, **kwargs):  # noqa: E501
        """get_openconfig_lldp_lldp_config_system_description  # noqa: E501

        OperationId: get_openconfig_lldp_lldp_config_system_description The system description field shall contain an alpha-numeric string that is the textual description of the network entity. The system description should include the full name and version identification of the system's hardware type, software operating system, and networking software. If implementations support IETF RFC 3418, the sysDescr object should be used for this field.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_openconfig_lldp_lldp_config_system_description(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetOpenconfigLldpLldpConfigSystemDescription
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_openconfig_lldp_lldp_config_system_description_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_openconfig_lldp_lldp_config_system_description_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_openconfig_lldp_lldp_config_system_description_with_http_info(self, **kwargs):  # noqa: E501
        """get_openconfig_lldp_lldp_config_system_description  # noqa: E501

        OperationId: get_openconfig_lldp_lldp_config_system_description The system description field shall contain an alpha-numeric string that is the textual description of the network entity. The system description should include the full name and version identification of the system's hardware type, software operating system, and networking software. If implementations support IETF RFC 3418, the sysDescr object should be used for this field.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_openconfig_lldp_lldp_config_system_description_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetOpenconfigLldpLldpConfigSystemDescription
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_openconfig_lldp_lldp_config_system_description" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/yang-data+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/openconfig-lldp:lldp/config/system-description', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetOpenconfigLldpLldpConfigSystemDescription',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_openconfig_lldp_lldp_config_system_name(self, **kwargs):  # noqa: E501
        """get_openconfig_lldp_lldp_config_system_name  # noqa: E501

        OperationId: get_openconfig_lldp_lldp_config_system_name The system name field shall contain an alpha-numeric string that indicates the system's administratively assigned name. The system name should be the system's fully qualified domain name. If implementations support IETF RFC 3418, the sysName object should be used for this field.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_openconfig_lldp_lldp_config_system_name(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetOpenconfigLldpLldpConfigSystemName
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_openconfig_lldp_lldp_config_system_name_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_openconfig_lldp_lldp_config_system_name_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_openconfig_lldp_lldp_config_system_name_with_http_info(self, **kwargs):  # noqa: E501
        """get_openconfig_lldp_lldp_config_system_name  # noqa: E501

[...]
